.banner{
    background-image: url("https://media.istockphoto.com/id/1143191120/photo/traditional-moroccan-tajine-of-chicken-with-dried-fruits-and-spices.webp?s=1024x1024&w=is&k=20&c=d9F22eYGbwaT53ZFypdVA28aGWs78UflEVAATTuLgy8=");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.cover{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: 0.4;

}