.banner{
    background-image: url("https://media.istockphoto.com/id/1318018652/photo/table-with-various-arabic-food-served-top-view.webp?s=1024x1024&w=is&k=20&c=A11D4wHGrzrItpY017J30GjwLiQPa9hIBlPFFbPJOek=");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.cover{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: 0.4;

}

/* Couvre la moitié de la hauteur sur mobile */
@media (max-width: 768px) {
    .banner {
        height: 60vh; /* Réduit la hauteur à la moitié de la page sur mobile */
    }
}

